
module aquavme 1.0;

require {
        type init_t;
        type user_tmp_t;
        type usr_t;
        type iptables_t;
        type rpm_script_t;
        type unconfined_service_t;
        type container_runtime_t;
        type container_runtime_tmpfs_t;
        type container_runtime_exec_t;
        class process siginh;
        class file { write entrypoint };
        class chr_file { read write };
        class unix_dgram_socket { read write };
        class unix_stream_socket { read write };
}


#============= init_t ==============
allow init_t unconfined_service_t:process siginh;
allow init_t usr_t:file write;
allow init_t user_tmp_t:file write;


#============= iptables_t ==============
allow iptables_t container_runtime_tmpfs_t:chr_file  { read write };
allow iptables_t container_runtime_t:unix_dgram_socket { read write };
allow iptables_t container_runtime_t:unix_stream_socket { read write };
allow iptables_t usr_t:file write;


#============= rpm_script_t ==============
allow rpm_script_t container_runtime_exec_t:file entrypoint;