{
    "AQUA_GATEWAY": "{{ GATEWAY_ENDPOINT }}",
    "AQUA_TOKEN": "{{ TOKEN }}",
    "AQUA_TLS_VERIFY": "{{ AQUA_TLS_VERIFY }}",
    "AQUA_ROOT_CA": "{{ AQUA_ROOT_CA_PATH }}",
    "AQUA_PUBLIC_KEY": "{{ AQUA_PUBLIC_KEY_PATH }}",
    "AQUA_PRIVATE_KEY": "{{ AQUA_PRIVATE_KEY_PATH }}"
}