[Unit]
Description=Aqua Security Enforcer RunC

[Service]
Type=forking
ExecStart={{ .Values.WorkingDirectory }}/run.sh
ExecStopPost={{ .Values.RuncPath }} delete enforcer
WorkingDirectory={{ .Values.WorkingDirectory }}
PIDFile=/run/aqua-enforcer.pid
Restart=always

[Install]
WantedBy=multi-user.target
