apiVersion: apps/v1
kind: Deployment
metadata:
  name: aqua-web
  namespace: aqua
  labels:
    app: aqua-web
    aqua.component: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aqua-web
  template:
    metadata:
      labels:
        app: aqua-web
        aqua.component: server
      name: aqua-web
    spec:
      securityContext:
        runAsUser: 11431
        runAsGroup: 11433
        fsGroup: 11433
      serviceAccount: aqua-sa
      restartPolicy: Always
      containers:
      - name: aqua-web
        image: registry.aquasec.com/console:2022.4.13
        imagePullPolicy: IfNotPresent
#        resources:
#          limits:
#            cpu: 3000m
#            memory: 2Gi
#          requests:
#            cpu: 2000m
#            memory: 1Gi
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 30
        ports:
        - containerPort: 8080
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        envFrom:
        - configMapRef:
            name: aqua-csp-server-config
      #  - secretRef:
      #      name: aqua-csp-server-secret
        env:
        - name: AQUA_PUBSUB_DBPASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: aqua-db
        - name: SCALOCK_AUDIT_DBPASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: aqua-audit-db
        - name: SCALOCK_DBPASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: aqua-db
      #   volumeMounts:
      #   - mountPath: /opt/aquasec/ssl
      #     name: aqua-grpc-web
      #     readOnly: true
      # volumes:
      # - name: aqua-grpc-web
      #   secret:
      #     secretName: aqua-grpc-web
      #     items:
      #     - key: aqua_web.crt
      #       path: cert.pem
      #     - key: aqua_web.key
      #       path: key.pem
      #     - key: rootCA.crt
      #       path: ca.pem
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: aqua-gateway
    aqua.component: gateway
  name: aqua-gateway
  namespace: aqua
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aqua-gateway
  template:
    metadata:
      labels:
        app: aqua-gateway
        aqua.component: gateway
      name: aqua-gateway
    spec:
      securityContext:
        runAsUser: 11431
        runAsGroup: 11433
        fsGroup: 11433
      serviceAccount: aqua-sa
      restartPolicy: Always
      containers:
      - name: aqua-gateway
        image: registry.aquasec.com/gateway:2022.4.13
        imagePullPolicy: IfNotPresent
#        resources:
#          limits:
#            cpu: 1500m
#            memory: 4Gi
#          requests:
#            cpu: 1000m
#            memory: 1Gi
        livenessProbe:
          httpGet:
            path: /
            port: 8082
          initialDelaySeconds: 60
          periodSeconds: 30
        readinessProbe:
          tcpSocket:
            port: 8443
          initialDelaySeconds: 60
          periodSeconds: 30
        ports:
        - containerPort: 3622
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        envFrom:
        - configMapRef:
            name: aqua-csp-server-config
        env:
        - name: SCALOCK_DBPASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: aqua-db
        - name: SCALOCK_AUDIT_DBPASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: aqua-audit-db
      #   volumeMounts:
      #   - mountPath: /opt/aquasec/ssl
      #     name: aqua-grpc-gateway
      #     readOnly: true
      # volumes:
      # - name: aqua-grpc-gateway
      #   secret:
      #     secretName: aqua-grpc-gateway
      #     items:
      #     - key: aqua_gateway.crt
      #       path: cert.pem
      #     - key: aqua_gateway.key
      #       path: key.pem
      #     - key: rootCA.crt
      #       path: ca.pem
