[Unit]
Description=Aqua Security Enforcer RunC

[Service]
Type=forking
ExecStart={{ .Values.RuncPath }} run -d --pid-file /run/aqua-enforcer.pid enforcer
ExecStopPost={{ .Values.RuncPath }} delete -f enforcer
WorkingDirectory={{ .Values.WorkingDirectory }}
PIDFile=/run/aqua-enforcer.pid
Restart=on-failure
StandardOutput=file:{{ .Values.WorkingDirectory }}/aqua-enforcer/opt/aquasec/tmp/aqua-enforcer.log 

[Install]
WantedBy=multi-user.target