[Unit]
Description=Aqua Security Enforcer RunC

[Service]
Type=forking
ExecStart=/usr/sbin/runc run -d --pid-file /run/aqua-enforcer.pid enforcer
ExecStopPost=/usr/sbin/runc delete -f enforcer
WorkingDirectory=/opt/aqua-enforcer
PIDFile=/run/aqua-enforcer.pid

[Install]
WantedBy=multi-user.target