apiVersion: v1 
kind: ConfigMap 
metadata: 
  name: aqua-cloud-connector-conf 
  namespace: aqua 
data: 
  aqua-cloud-connector-config: | 
    tunnels: 
      # Azure Container Registry 
      #- host: <account>.azurecr.io  
      # Google Container Registry 
      #- host: gke.gcr.io 
      # JFrog Container Registry 
      #- host: <account>.jfrog.io 
      # On-premises private registry with static IP address 
      #- host: 20.101.1.253:443 
      # Amazon Container Registry 
      # This is a special case which creates four different URIs for ECR 
      # You should only provide the region 
      #- service: 
      #   type: ecr 
      #     region: eu-west-2
